<link href='F:\myGit\Sho.co\styles\homePage.css' rel='stylesheet' type='text/css'>
<link href='F:\myGit\Sho.co\styles\homePage.css' rel='stylesheet' type='text/css'>

<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top">
    <ul class="nav navbar-nav">
      <li class="target active text-uppercase" id="home-button"><a href="#">Home</a></li>
      <li class="target text-uppercase" id="about-button"><a href="#">About</a></li>
      <li><img src="https://d6y8zfzc2qfsl.cloudfront.net/A92141B3-CC1C-8186-B48F-9DCA52FC027C_profile_125_square.jpg" id="me" /></li>
      <li class="target text-uppercase" id="portfolio-button"><a href="#">Portfolio</a></li>
      <li class="target text-uppercase" id="contact-button"><a href="#">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="icon"><a href="http://codepen.io/natasharocha/" target="_blank"><i class="fa fa-codepen"></i></a></li>
      <li class="icon"><a href="https://www.facebook.com/nattycdb" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
      <li class="icon"><a href="https://twitter.com/NattyCdb" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li class="icon"><a href="https://github.com/NatashaRocha" target="_blank"><i class="fa fa-github"></i></a></li>
      <li class="icon last"><a href="https://br.linkedin.com/pub/natasha-rocha/a2/353/75a
" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </nav>

  <div class="pages-container">
    <div class="page active-page" id="home-page">
      <h1>Sho.co</h1>
      <h2>bakery</h2>
    </div>

  </div>
</div>